
 body, html {
    background: #f5f5f5;
    display: flex;
    justify-content: center;    
    font-family: 'Roboto, Helvetica Neue, Helvetica, Arial, sans-serif'
}
#app{
    width: 800px;
    height: 600px;
    background-color: white;
}
.lpContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;    
}
.dashboardHeading{
    display: flex;
    justify-content: center;
    height: 50px;
    align-items: center;
    width: 100%;
    border-bottom: tomato 1px solid;
}
.creddebContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: chocolate;
    /* height: 240px; */
    width: 100%;
}

.expenseContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: aquamarine;
    /* height: 240px; */
    width: 100%;
}

.lpbox{
    border: 1px solid slategray;
    width: 14%;
    height: 20%;
    padding: 6.5%;
    margin: 6.5%;
    border-radius: 10px;
}


.tabContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 65px;
    background: blue;
    color: white;  
    width: 100%;
}