
 body, html {
    background: #f5f5f5;
    display: flex;
    justify-content: center;    
    font-family: 'Roboto, Helvetica Neue, Helvetica, Arial, sans-serif'
}
#app{
    width: 800px;
    height: 600px;
    background-color: white;
}
.lpContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;    
}
.creddebContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: chocolate
}

.expenseContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color:aquamarine
}
lpbox{
    border:1px solid slategray;
    width:100px;
    height:100px;
}
.dashboardHeading{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;    
    border-bottom: tomato 1px solid;


}